body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

header {
    background-color: #7dd9e8;
    overflow: auto;
}

.container {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 0px;
    overflow: auto;
}

#logoAndSearch {
    float: left;
    display: inline-block;
    width: 800px;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 70px;
    font-weight: 100;
    margin: 0;
    margin-right: 25px;
    display: inline-block;
    letter-spacing: -1.6px;
}

form {
    display: inline;
    position: absolute;
    top: 54px;
}

input {
    box-sizing: border-box;
    padding: 4px 10px;
    border-radius: 10px;
    border: 0;
}

#search {
    background-color: #c9eff8;
    width: 374px;
    margin-right: 6px;
}

#search-btn {
    background-color: #244e51;
    color: #fff;
}

header #nav {
    float: right;
    display: inline-block;
}

header #userName {
    display: block;
    text-align: right;
    margin-top: 17px;
    font-size: 21px;
}

header #nav ul {
    list-style-type: none;
    margin-top: 7px;
}

header #nav ul li {
    display: inline;
    padding: 0 1px;
}

header #nav ul li+li:before {
    content: '| ';
}


nav {
    background-color: #f5f5f5;
    font-family: 'Muli', sans-serif;
}
nav ul {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 37px;
    font-size: 19px;
    letter-spacing: 0.16px;
}

aside {
    float: left;
    display: inline-block;
    width: 265px;
    margin-top: 27px;
    background-color: #f5f5f5;
}

aside div {
    background-color: #2fc2d3;
    padding: 14px 16px;
    color: #fff;
    font-size: 23px;
}

aside ul {
    padding-left: 14px;
    max-width: 150px;
}

aside ul li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 24px;
}

aside #ul-second {
    max-width: 200px;
}

#videoTutorials {
    width: 240px;
    float: right;
}

#videoTutorials ul {
    max-width: 250px;
}

main {
    display: inline-block;
    width: 709px;
    padding-left:37px;
}

main h2 {
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 6px;
    font-weight: 300;
}

#tab-container {
    width:100%;
    border-bottom: 4px solid #2fc2d3;
    box-size: border-box;
}

#all-entries,
#subscribed {
    text-align: center;
    display: inline-block;
    width: 352px;
    background-color: #f5f5f5;   
}

#all-entries {
    border-top-left-radius: 20px;
}

#subscribed {
    border-top-right-radius: 20px;
}

#all-entries span,
#subscribed span {
    display: block;
    padding-top: 16px;
    font-size: 15px;
    font-weight: 600;
}

#all-entries div,
#subscribed div {
    text-align: center;
    display: inline-block;
    width: 155px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 3px;
    background-color: #dddddd;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
}

#tab-container .selected {
    background-color: #2fc2d3;
    color: #fff;
}

.feed-item {
    float: left;
    padding: 20.5px 0;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
}

.feed-item img {
    float: left;
}

.feed-text {
    margin-left: 10px;
    float: left;
    max-width: 598px;
    line-height: 23px;
    font-size: 14px;
}
    h4 {
        margin: 0;
        font-size: 17px;
    }

    h5 {
        margin: 0;
        font-size: 13px;
        color: #8bb9c3;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .topicBoxInvite {
        color: #a16353;
    }

    span {
        padding: 0 4px;
    }

    .emphasis-blue {
        font-weight: bold;
        color: #8bb9c3;
    }

    .subscribed {
        font-weight: bold;
        color: #7b8660;
    }

footer {
    background-color: #727272;
    margin-top: 28px;
    font-size: 13px;
    font-weight: bold;
    overflow: auto;
}

.footer-nav {
    float: left;
    padding: 0 0 23px 0;
    margin: 6px;
}

footer li {
    display: inline;
    color: #fff;
    padding-right: 18px;
}

#copyright {
    margin-top: 9px;
    color: #fff;
    float: right;
}